{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/formUser.css">
{% endblock %}
{% block headline %}Login{% endblock %}
{% block body %}
    {{ form(form) }}

    {% if error %}
        <p>Error:</p>
        <p>{{ error.messageKey }}</p>
    {% endif %}
{% endblock %}