{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block headline %}Login{% endblock %}
{% block body %}
    {{ form(form) }}
    {% if error %}
        <p>Error:</p>
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}
