{% extends "base.html.twig" %}
{% block title %}{{ question.slug }}{% endblock %}
{% block headline %}{{ question.question }}{% endblock %}
{% block body %}
    <div id="question">
        {{ form(form) }}
    </div>
{% endblock %}