{% extends "base.html.twig" %}
{% block title %}{{ question.slug }}{% endblock %}
{% block headline %}{{ exam }}{% endblock %}
{% block body %}
    <h2>{{ question.question }}</h2>
    <div id="question">
        {{ form(form) }}
    </div>
{% endblock %}