*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Arial, SansSerif;
}

a {
    text-decoration: none;
    color: #ff4b4b;
}

a:hover {
    color: orange;
}

#headline {
    background-color: white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

#headline h1{
    display: inline;
}

#headline div {
    display: inline-block;
    align-self: flex-end;
}

#body {
    padding: 1%;
}

#body tr, td, th {
    padding: 1%;
}

#footer {
    background-color: white;
    padding: 1%;
}

#footer a{
    padding-right: 1%;
}

#body ul
{
    margin-left: 30px;
}