#exams {
    width:  80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#exams>div{
    width: 25%;
    padding: 2%;
}

#exams>div>div, img{
    width: 100%;
}