<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
    {% block stylesheets %}{% endblock %}
<body>
<header>
    <div id="headline">
        <div>
            <a href="{{ path("app_home") }}"><h1>Azubi Exams</h1></a>
            <h1> | </h1>
            <h1>{% block headline %}Welcome!{% endblock %}</h1>
        </div>
        <div>
            <a href="{{ path("app_login") }}">Log In</a>
            <a href="{{ path("app_logout") }}">Log Out</a>
        </div>
    </div>
    <hr/>
</header>
<div id="body">
    {% block body %}
    {% endblock %}
</div>
<footer>
    <hr/>
    <div id="footer">
        <a href="#">Impressum</a>
    </div>
</footer>
</body>
</html>
