{% extends "base.html.twig" %}
{% block title %}Admin - Exams{% endblock %}
{% block headline %}Exams{% endblock %}
{% block body %}
    <div id="links">
        <ul>
        {% for exam in examList %}
            <li><a href="#">{{ exam.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}