{% extends "base.html.twig" %}
{% block title %}Delete{% endblock %}
{% block headline %}Delete{% endblock %}
{% block body %}
    <h2>Do you want to delete the user {{ user.email }}?</h2>
    {{ form(form) }}
{% endblock %}