{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}
{% block headline %}Register{% endblock %}
{% block body %}
    <p>Register</p>

    <form action="{{ path("app_user_register") }}" method="post">
        <table>
            <tr>
                <td><input type="email" name="email" placeholder="email" required></td>
                <td>Email*</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="12345678" required></td>
                <td>Password*</td>
            </tr>
            <tr>
                <td><input type="password" name="verPassword" placeholder="12345678" required></td>
                <td>Verification Password*</td>
            </tr>
            <tr>
                <td><input type="reset">
                <input type="submit" name="registerUser" value="Register"></td>
            </tr>
        </table>
    </form>
    <p>* marked fields are required!</p>
    {% if errors is not empty %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}